.flake {
    position: absolute;
    border-radius: 50%;

    --size: 10px;
    --color: rgb(0,255,255);

    width: var(--size);
    height: var(--size);
    background-image: radial-gradient(var(--color), transparent 60%),
}